<!DOCTYPE html>
<html>
  <head>
    <title>Force-Directed Layout</title>
    <script type="text/javascript" src="/force/d3.v7.min.js"></script>
    <link type="text/css" rel="stylesheet" href="force/force.css"/>
    <script type="text/javascript">
        var linkAttr = "{{ params.linkAttr }}";
        var refreshTime = {{ params.refreshTime | tojson }};
        var collapseLinks = {{ params.collapseLinks | tojson }};
        var withLabels = {{ params.withLabels | tojson }};
        var traceMessage = {{ params.traceMessage | tojson }};
        var traceMessage2 = {{ params.traceMessage2 | tojson }};
        var traceMessage3 = {{ params.traceMessage3 | tojson }};
    </script>
  </head>
  <body>
    <div id="container" class="svg-container">
    </div>
    <script type="text/javascript" src="force/force.js">
    </script>
  </body>
</html>
